@import url("https://fonts.googleapis.com/css?family=Roboto:500,700");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font: 500 1.2em/1.2 "Roboto", sans-serif;
}

button {
  padding: 6px 15px;
  cursor: pointer;
  color: #fff;
  border-width: 3px;
  border-style: solid;
  background-color: #3498db;
  border-color: #2980b9;
  font-size: 16px;
  border-radius: 10px;
}
button:active {
  border-color: #3498db;
  background-color: #2980b9;
}

.receipe {
  background-color: rgb(250, 249, 240);
  width: 100%;
}

.img {
  width: 350px;
  height: 420px;
  border-radius: 28px;
}

.tablecss {
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.header {
  text-transform: none;
  font-family: Radley, Georgia, serif;

  font-size: 20px;
  font-weight: 400;
  font-weight: bold;
}

.content {
  padding: 25px;
  text-align: left;
  padding-bottom: 210px;
}

.desc {
  text-align: left;
  inline-size: 350px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
